@use "../utils/utils" as *;

.business-directions {
  margin-bottom: 100px;
  @include media(992.98, "max") {
    margin-bottom: 50px;
  }

  // .business-directions__title
  &__title {
    @include ProximaNovaCondensedSemibold;
    font-size: 56px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 50px;
    @include media(992.98, "max") {
      font-size: 40px;
      margin-bottom: 20px;
    }
    @include media(576.98, "max") {
      font-size: 28px;
      margin-bottom: 10px;
    }
  }

  // .business-directions__cards
  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 22px;
    @include media(992.98, "max") {
      grid-template-columns: 1fr;
    }
  }

  // .business-directions__card
  &__card {
    position: relative;
    overflow: hidden;
    width: 100%;
    @include media(992.98, "max") {
    }

    &.active {
      @include media(992.98, "max") {
      }
    }

    @media (hover: hover) {
    }
  }

  // .business-directions__card-image
  &__card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 240px;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .business-directions__card-overlay
  &__card-overlay {
    background: rgba(45, 54, 83, 0.6);
  }

  // .business-directions__card-header
  &__card-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 28px 20px 5px;
    @include media(992.98, "max") {
    }
  }

  // .business-directions__card-arrow
  &__card-arrow {
    display: none;
    @include media(992.98, "max") {
      display: block;
      width: 20px;
      height: 20px;
      background: url("../assets/images/icons/business-directions-arrow.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transition: transform 0.3s ease;
    }
  }

  // .business-directions__card-content
  &__card-content {
    width: 100%;
    padding: 0 20px;
    height: 20px;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s;

    .active & {
      opacity: 1;
      height: 165px;
      // padding-bottom: 20px;
    }
  }

  // .business-directions__card-title
  &__card-title {
    @include ProximaNovaCondensedSemibold;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.3;
    color: $white;
    @include media(1280.98, "max") {
      font-size: 22px;
    }
    @include media(992.98, "max") {
    }
    @include media(576.98, "max") {
      font-size: 20px;
      line-height: 100%;
    }
  }

  // .business-directions__card-description
  &__card-description {
    font-size: 17px;
    line-height: 1.4;
    color: $white;

    @include media(992.98, "max") {
    }
    @include media(576.98, "max") {
      font-size: 16px;
    }
  }
}
