@font-face {
  font-family: 'ProximaNovaCondensed Black';
  src: url('ProximaNovaCondensed-Black.woff2') format('woff2'),
    url('ProximaNovaCondensed-Black.woff') format('woff'),
    url('ProximaNovaCondensed-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ProximaNovaCondensed Bold';
  src: url('ProximaNovaCondensed-Bold.woff2') format('woff2'),
    url('ProximaNovaCondensed-Bold.woff') format('woff'),
    url('ProximaNovaCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ProximaNovaCondensed Regular';
  src: url('ProximaNovaCondensed-Regular.woff2') format('woff2'),
    url('ProximaNovaCondensed-Regular.woff') format('woff'),
    url('ProximaNovaCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ProximaNovaCondensed Semibold';
  src: url('ProximaNovaCondensed-Semibold.woff2') format('woff2'),
    url('ProximaNovaCondensed-Semibold.woff') format('woff'),
    url('ProximaNovaCondensed-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ProximaNova Semibold';
  src: url('ProximaNova-Semibold.woff2') format('woff2'),
    url('ProximaNova-Semibold.woff') format('woff'),
    url('ProximaNova-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ProximaNova Regular';
  src: url('ProximaNova-Regular.woff2') format('woff2'),
    url('ProximaNova-Regular.woff') format('woff'),
    url('ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
