@use "../utils/mixins" as *;

// ProximaNova
@include font-face(
  "proxima-nova-regular",
  "../assets/fonts/ProximaNova/ProximaNova-Regular"
);
@include font-face(
  "proxima-nova-semibold",
  "../assets/fonts/ProximaNova/ProximaNova-Semibold"
);
@include font-face(
  "proxima-nova-condensed-black",
  "../assets/fonts/ProximaNova/ProximaNovaCondensed-Black"
);
@include font-face(
  "proxima-nova-condensed-bold",
  "../assets/fonts/ProximaNova/ProximaNovaCondensed-Bold"
);
@include font-face(
  "proxima-nova-condensed-regular",
  "../assets/fonts/ProximaNova/ProximaNovaCondensed-Regular"
);
@include font-face(
  "proxima-nova-condensed-semibold",
  "../assets/fonts/ProximaNova/ProximaNovaCondensed-Semibold"
);

// ProximaNova
@mixin proxima-nova-regular {
  font-family: proxima-nova-regular, Arial, sans-serif;
}

@mixin proxima-nova-semibold {
  font-family: proxima-nova-semibold, Arial, sans-serif;
}

@mixin proxima-nova-condensed-black {
  font-family: proxima-nova-condensed-black, Arial, sans-serif;
}

@mixin proxima-nova-condensed-bold {
  font-family: proxima-nova-condensed-bold, Arial, sans-serif;
}

@mixin proxima-nova-condensed-regular {
  font-family: proxima-nova-condensed-regular, Arial, sans-serif;
}

@mixin proxima-nova-condensed-semibold {
  font-family: proxima-nova-condensed-semibold, Arial, sans-serif;
}
