<section class="business-directions blocks-animation">
  <div class="container">
    <h2 class="business-directions__title">
      Направления бизнеса
    </h2>
    <div class="business-directions__cards">
      <div class="business-directions__card">
        <div class="business-directions__card-image">
          <img src="../../assets/images/business-1.jpg" alt="" />
        </div>
        <div class="business-directions__card-overlay">
          <div class="business-directions__card-header">
            <h4 class="business-directions__card-title">
              Решения Softline
            </h4>
            <span class="business-directions__card-arrow"></span>
          </div>
          <div class="business-directions__card-content">
            <p class="business-directions__card-description">
              ГК Softline предлагает клиентам собственную линейку оборудования
              (ПК, серверы, торговое оборудование и проч.), разработку
              программных продуктов, облачных решений, решений в области
              информационной безопасности.
            </p>
          </div>
        </div>
      </div>
      <div class="business-directions__card">
        <div class="business-directions__card-image">
          <img src="../../assets/images/business-2.jpg" alt="" />
        </div>
        <div class="business-directions__card-overlay">
          <div class="business-directions__card-header">
            <h4 class="business-directions__card-title">
              Кибербезопасность
            </h4>
            <span class="business-directions__card-arrow"></span>
          </div>
          <div class="business-directions__card-content">
            <p class="business-directions__card-description">
              Softline обладает всеми необходимыми государственными лицензиями
              для организации проектов по информационной безопасности и
              аттестации.
            </p>
          </div>
        </div>
      </div>
      <div class="business-directions__card">
        <div class="business-directions__card-image">
          <img src="../../assets/images/business-3.jpg" alt="" />
        </div>
        <div class="business-directions__card-overlay">
          <div class="business-directions__card-header">
            <h4 class="business-directions__card-title">
              Импортозамещение
            </h4>
            <span class="business-directions__card-arrow"></span>
          </div>
          <div class="business-directions__card-content">
            <p class="business-directions__card-description">
              ГК Softline обладает широчайшим портфелем решений и услуг для
              импортозамещения, включая ПО и оборудование собственного
              производства.
            </p>
          </div>
        </div>
      </div>
      <div class="business-directions__card">
        <div class="business-directions__card-image">
          <img src="../../assets/images/business-4.jpg" alt="" />
        </div>
        <div class="business-directions__card-overlay">
          <div class="business-directions__card-header">
            <h4 class="business-directions__card-title">
              Облачные решения
            </h4>
            <span class="business-directions__card-arrow"></span>
          </div>
          <div class="business-directions__card-content">
            <p class="business-directions__card-description">
              Softline использует современные облачные решения как российских,
              так и международных вендоров для масштабирования бизнеса своих
              клиентов. Подписки, услуги, трансформация.
            </p>
          </div>
        </div>
      </div>
      <div class="business-directions__card">
        <div class="business-directions__card-image">
          <img src="../../assets/images/business-5.jpg" alt="" />
        </div>
        <div class="business-directions__card-overlay">
          <div class="business-directions__card-header">
            <h4 class="business-directions__card-title">
              Цифровая трансформация и разработка ПО
            </h4>
            <span class="business-directions__card-arrow"></span>
          </div>
          <div class="business-directions__card-content">
            <p class="business-directions__card-description">
              Softline использует современные технологи и новые возможности для
              увеличения производительности бизнеса заказчика. В штате ГК
              Softline - 2000+ разработчиков, которые трансформируют ПО под
              нужды конкретного предприятия.
            </p>
          </div>
        </div>
      </div>
      <div class="business-directions__card">
        <div class="business-directions__card-image">
          <img src="../../assets/images/business-6.jpg" alt="" />
        </div>
        <div class="business-directions__card-overlay">
          <div class="business-directions__card-header">
            <h4 class="business-directions__card-title">
              Техническая поддержка Softline
            </h4>
            <span class="business-directions__card-arrow"></span>
          </div>
          <div class="business-directions__card-content">
            <p class="business-directions__card-description">
              200+ инженеров, 24 часа в сутки, 7 дней в неделю, 12 месяцев в
              году, сервисное партнерство с 30+ мировыми производителями.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
