<section class="competencies blocks-animation">
  <div class="container">
    <div class="competencies__wrapper">
      <h2 class="competencies__title">
        Компенсационный пакет
      </h2>
      <div class="competencies__benefits">
        <div class="competencies__list">
          <div class="competencies__item">
            <div class="competencies__icon">
              <img src="../../assets/images/icons/dms.svg" alt="ДМС" />
            </div>
            <span class="competencies__text">
              ДМС
            </span>
          </div>
          <div class="competencies__item">
            <div class="competencies__icon">
              <img
                src="../../assets/images/icons/happy-bd.svg"
                alt="Выходной в день рождения"
              />
            </div>
            <span class="competencies__text">
              Выходной в день рождения
            </span>
          </div>
          <div class="competencies__item">
            <div class="competencies__icon">
              <img
                src="../../assets/images/icons/phone.svg"
                alt="Корпоративная мобильная связь"
              />
            </div>
            <span class="competencies__text">
              Корпоративная мобильная связь
            </span>
          </div>
          <div class="competencies__item">
            <div class="competencies__icon">
              <img
                src="../../assets/images/icons/sport.svg"
                alt="Корпоративные скидки на спорт"
              />
            </div>
            <span class="competencies__text">
              Корпоративные скидки на спорт
            </span>
          </div>
          <div class="competencies__item">
            <div class="competencies__icon">
              <img src="../../assets/images/icons/lti.svg" alt="LTI" />
            </div>
            <span class="competencies__text">
              LTI
            </span>
          </div>
        </div>
      </div>
      <div class="competencies__bonus">
        <h3 class="competencies__subtitle">
          Программа дополнительной мотивации
          <span>
            доплата 12% от суммы
          </span>
        </h3>
        <div class="competencies__list">
          <div class="competencies__item">
            <div class="competencies__icon">
              <img
                src="../../assets/images/icons/orgtexnik.svg"
                alt="Оргтехника"
              />
            </div>
            <span class="competencies__text">
              Оргтехники
            </span>
          </div>
          <div class="competencies__item">
            <div class="competencies__icon">
              <img src="../../assets/images/icons/dms.svg" alt="ДМС" />
            </div>
            <span class="competencies__text">
              ДМС
            </span>
          </div>
          <div class="competencies__item">
            <div class="competencies__icon">
              <img src="../../assets/images/icons/ipoteka.svg" alt="Ипотека" />
            </div>
            <span class="competencies__text">
              Ипотеки
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
