<section class="hero blocks-animation">
  <div class="container">
    <div class="hero__content">
      <h1 class="hero__title">
        Softline
      </h1>
      <p class="hero__description">
        Ведущий поставщик IT-решений и сервисов.* Мы предлагаем комплексные
        IT-решения, облака, программное и аппаратное обеспечение, решения по
        цифровой трансформации и кибербезопасности, а также широкий спектр
        IT-услуг.
      </p>
      <div class="hero__stats">
        <div class="hero__stats-item">
          <span class="hero__stats-number">
            &gt; 30 лет
          </span>
          <span class="hero__stats-text">
            на IT-рынке
          </span>
        </div>
        <div class="hero__stats-item">
          <span class="hero__stats-number">
            4600
          </span>
          <span class="hero__stats-text">
            сотрудников в России
          </span>
        </div>
        <div class="hero__stats-item">
          <span class="hero__stats-number">
            25
          </span>
          <span class="hero__stats-text">
            городов России
          </span>
        </div>
        <div class="hero__stats-item">
          <span class="hero__stats-number">
            2000+
          </span>
          <span class="hero__stats-text">
            разработчиков
          </span>
        </div>
        <div class="hero__stats-item">
          <span class="hero__stats-number">
            3000+
          </span>
          <span class="hero__stats-text">
            сотрудников ежегодно проходят оценку и обучение
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
