<section class="mission blocks-animation">
  <div class="container">
    <div class="mission__wrapper">
      <div class="mission__content">
        <h2 class="mission__title">
          Миссия Softline
        </h2>
        <p class="mission__description">
          Мы помогаем организациям трансформироваться, работать эффективно и
          безопасно в условиях цифровой экономики.
        </p>
      </div>
      <div class="mission__decor">
        <div class="mission__decor-left">
          <img src="../../assets/images/decor-left.svg" alt="" />
        </div>
        <div class="mission__decor-right">
          <img src="../../assets/images/decor-right.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
